---
import { Icon } from 'astro-icon'
import Base from '../layouts/base.astro'
import Map from '../components/map.astro'
import PageHero from '../components/pagehero.astro'
import Gallery from '../components/gallery.astro'
import { SiteMetadata } from '../config'
import coverSVG from '../assets/svg/undraw/undraw_contact_us.svg'
import socialImage from '../assets/undraw/undraw_contact_us.png'
import { getCollection } from 'astro:content'

const frontmatter = {
  title: 'Contact',
  description: 'Our presence is real and digital. Contact us through the following ways.',
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime
}

const social = await getCollection('social')
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={coverSVG}
      socialImage={socialImage}
    />
  </header>
  <main>
    <Gallery />
  </main>
</Base>
