---
import ContenedorUnoImage from '/src/assets/images/1-pexels-karolina-grabowska-4207909.jpg'
import ContenedorDosImage from '/src/assets/images/2-pexels-karolina-grabowska-4207905.jpg'
import ContenedorTresImage from '/src/assets/images/3-pexels-elina-sazonova-4555305.jpg'

const callouts = [
  {
    name: 'Contenedor Pedagógico #1',
    description: 'Contextualización y conceptualización de los PRAE en el marco del desarrollo sostenible',
    imageSrc: ContenedorUnoImage,
    imageAlt: 'Contenedor Uno IMG',
    href: '/contenedor_pedagogico/contenedor_1/',
    margin: 'lg:mt-0'
  },
  {
    name: 'Contenedor Pedagógico #2',
    description:
    'Marco político, legal, estratégico y referencial para la dinamización de los PRAE',
    imageSrc: ContenedorDosImage,
    imageAlt: 'Contenedor Dos IMG',
    href: '/contenedor_pedagogico/contenedor_2/',
    margin: 'lg:mt-10',
  },
  {
    name: 'Contenedor Pedagógico #3',
    description: 'Metodología para la revisión, ajuste y/o actualización de los PRAE',
    imageSrc: ContenedorTresImage,
    imageAlt: 'Contenedor Tres IMG',
    href: '/contenedor_pedagogico/contenedor_3/',
    margin: 'lg:mt-20'
  }
]

---

<div class='relative bg-white md:snap-center md:h-full md:p-10'>
  <div class=' m-auto max-w-7xl px-4 sm:px-6 md:h-full md:flex'>
    <div class='mx-auto max-w-2xl py-5 sm:py-24 md:py-0 md:max-w-none md:h-fit md:my-auto md:pt-16 lg:pt-0'>

      <div class='relative h-1/2 md:grid md:grid-cols-3 md:gap-x-6 md:h-fit'>
        {
          callouts.map((callout) => (
            <a 
              href={callout.href}
            >
            <div class={'group relative cursor-pointer my-10 rounded-2xl h-fit md:my-10 ' + callout.margin}>
              <img
              src={callout.imageSrc.src}
              alt={callout.imageAlt}
              class='w-full h-full group-hover:opacity-75 brightness-50 object-contain rounded-lg'
              loading='lazy'
              />
              <div class='absolute top-0 px-5 h-full'>
                <h3 class='text-center relative text-3xl text-white font-bold my-12 mx-2'>
                  {callout.name}
                  </h3>
                  <p class='block relative text-justify text-base text-white font-light my-auto mx-2'>
                    {callout.description}
                    </p>
                    <button class='block rounded border-white border px-10 py-5 text-white bg-black/50 mx-auto my-20 group-hover:bg-white/50 group-hover:text-black group-hover:font-bold'>
                      Ver Más  
                      </button>
                      </div>
            </div>
            </a>
          ))
        }
      </div>

    </div>
  </div>
</div>

<!-- sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 -->
<!-- style="position: absolute;transform: translateY(-50%);top:50%" -->