---
import 'photoswipe/style.css'
import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css'
import { Image } from 'astro:assets'

export interface Props {
  images: string[],
  id: string | number,
  label: string,
}

const { id, images, label } = Astro.props

const imagetitles = images.map((image) => label)
const image = images[0]
const images_json = JSON.stringify(images)
---

<lightbox-inner data-id=`btn-open-${id}` data-images={images_json} class="mx-auto">
      <figure
        itemscope
        itemtype='http://schema.org/ImageObject'
        class='relative inline-block w-full h-56 aspect-video bg-green-100 overflow-hidden shadow-sm rounded border-1 lg:my-2'
      >
        <button
          class="w-full h-full flex relative"
          itemprop='contentUrl'
          data-pswp-width={300}
          data-pswp-height={600}
          id=`btn-open-${id}`
        >
          <Image
            src={image}
            alt={imagetitles[0]}
            format='webp'
            class='rounded'
            width={300}
            height={399}
          />
        </button>
        <figcaption itemprop='caption description' class='rounded text-white text-center font-bold p-2 absolute bottom-0 bg-green-500 w-full left-1/2 transform -translate-x-1/2'>
         <span>{label}</span>
        </figcaption>
      </figure>    
    
</lightbox-inner>
<script>
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  const getMeta = (url, cb) => {
    const img = new Image();
    img.onload = () => cb(null, img);
    img.onerror = (err) => cb(err);
    img.src = url;
  };

  class LightboxInner extends HTMLElement {
    constructor() {
      super()

      let dataSource : Record<string, string>[] = []

      JSON.parse(this.dataset.images).forEach( (url_img: string, idx: number) => (
        getMeta(url_img, (err, img) => (dataSource.push({
          src: img.src,
          width: img.naturalWidth,
          height: img.naturalHeight
        })))
      ))

      const id = this.dataset.id

      const lightbox = new PhotoSwipeLightbox({
        dataSource,
        pswpModule: () => import('photoswipe'),
      });
     
      lightbox.init()
      document.querySelector(`#${id}`).onclick = () => {
        lightbox.loadAndOpen(0); // defines start slide index
      };
    }
  }

  customElements.define('lightbox-inner', LightboxInner)

</script>
